* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}

:root {
  --bg-color: #fff;
  --snd-bg-color: #d5fdf9;
  --text-color: #000;
  --main-color: #007f73;
}
/* Dark/Light Theme Toggle */
.dark-theme {
  --bg-color: #121212;
  --snd-bg-color: #1e1e1e;
  --text-color: #ffffff;
  --main-color: #00c896;
}
.dark-theme .navbar a:hover {
  color: #00c896;
}
.theme-switch-wrapper {
  margin-left: 1rem;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.theme-switch:hover .slider {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: var(--snd-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.icon {
  font-size: 16px;
  z-index: 1;
}

.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  transition: transform 0.4s;
  border-radius: 50%;
  z-index: 2;
}

.theme-switch input:checked + .slider::before {
  transform: translate(30px, -50%);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100%;
  padding: 10rem 9% 2rem;
}
/* Header Section Code */
.header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background: var(--main-color);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto; /* Push to the far right */
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--bg-color);
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.05);
}
.navbar a {
  font-size: 1.9rem;
  color: var(--bg-color);
  margin-left: 4rem;
  font-weight: 700;
  transition: 0.3s ease;
}
.navbar a:hover,
.navbar {
  color: var(--text-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--bg-color);
  cursor: pointer;
  display: none;
}
/* Home Section */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-img img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  animation: floatImage 4s ease-in-out infinite;
  transition: 0.4s ease;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-content {
  margin-left: 5rem;
}
.home-content h3 {
  font-size: 3.7rem;
  font-weight: 700;
}
.home-content h3:nth-of-type {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 1.6rem;
  margin-top: 2rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transform: scale(1.2) translateY(-10px);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}
.btn:hover {
  box-shadow: 0 0 1.6rem var(--main-color);
}

/* About Section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--snd-bg-color);
}
.about-img img {
  width: 25vw;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease;
}
.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.heading {
  font-size: 6rem;
  text-align: center;
}
.about-content {
  padding: 0 4rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 3rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
/* Education Section */

.education h2 {
  text-align: center;
  margin-bottom: 5rem;
}
.education-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.education-container .education-box {
  flex: 1 1 30rem;
  background: var(--snd-bg-color);
  padding: 6rem 2rem 6rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.3rem solid var(--bg-color);
  transition: 0.3s ease;
}
.education-container .education-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.education-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.education-box h3 {
  font-size: 2.6rem;
}
.education-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.school-logo {
  width: 20rem;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}
/* Services Section */
.services h2 {
  text-align: center;
  margin-bottom: 5rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--snd-bg-color);
  padding: 6rem 2rem 6rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.3rem solid var(--bg-color);
  transition: 0.3s ease;
}
.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.services-box h3 {
  font-size: 2.6rem;
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
/* Skills Section */
.skills {
  background: var(--snd-bg-color);
}

.skills h2 {
  text-align: center;
  margin-bottom: 5rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skill-box {
  flex: 1 1 20rem;
  background: var(--bg-color);
  padding: 4rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.3rem solid var(--snd-bg-color);
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.skills-container .skill-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.skill-box i {
  font-size: 5rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.skill-box h3 {
  font-size: 2rem;
  color: var(--text-color);
}
/* Project Section */
.projects {
  background: var(--snd-bg-color);
}

.projects h2 {
  text-align: center;
  margin-bottom: 5rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.projects-container .project-box {
  flex: 1 1 20rem;
  background: var(--bg-color);
  padding: 4rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.3rem solid var(--snd-bg-color);
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.projects-container .project-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.project-content h3 {
  font-size: 2rem;
  color: var(--text-color);
  margin: 1rem 0;
}
.project-content p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.project-box img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
/* Contact Section */
.contact {
  background: var(--bg-color);
}
.contact .heading {
  text-align: center;
}
.contact h2 {
  margin-bottom: 3rem;
  color: var(--main-color);
}
.contact form {
  max-width: 80rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 0.25rem solid var(--main-color);
  margin: 0.7rem 0;
  resize: none;
}

.contact form .input-box input {
  width: 49%;
  margin: 0.7rem 0.35rem;
}
.contact form .btn {
  margin-top: 2rem;
}
/* Footer Section */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--snd-bg-color);
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}
.footer .social a {
  font-size: 25px;
  margin: 0 10px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}
.footer .social a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transform: scale(1.2) translateY(-10px);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.footer .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}
/* Responsive Design */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1100px) {
  .header {
    padding: 2rem 3%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 0;
  }

  #menu-icon {
    display: block;
    font-size: 4rem;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .theme-switch-wrapper {
    margin: 0;
    position: absolute;
    top: 2rem;
    right: 8rem; /* Adjusted to position left of the menu icon */
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    min-height: 100vh;
    background-color: var(--main-color);
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    transition: right 0.3s ease;
    z-index: 1500;
    display: flex;
  }

  .navbar.active {
    right: 0;
  }

  .navbar a {
    display: block;
    padding: 17px;
    font-size: 22px;
  }

  .home,
  .education-container {
    flex-direction: column;
    text-align: center;
  }

  .home-img img,
  .about-img img {
    width: 50vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .about-content {
    text-align: left;
    flex: 1;
  }

  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .services {
    padding: 7rem 3%;
  }

  .services-container,
  .projects-container {
    grid-template-columns: 1fr;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .contact form .input-box {
    flex-direction: column;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer {
    padding: 2rem 3%;
    text-align: center;
  }
}
@media (max-width: 617px) {
  html {
    font-size: 50%;
  }
  .home-img img {
    width: 70vw;
    margin-top: 8rem;
  }
  .about-img img {
    width: 100%;
    max-width: 70vw;
    height: auto;
    margin-top: 4rem;
    object-fit: contain;
  }
}
